body{
      background-color: #36067d !important;
}
.navbar
{
      background-color: #36067d !important;
}
.bg-bg-purple{
      background-color: #36067d !important;
}
a{
      color: #fff !important;
}